@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @{
                foreach (var x in Model.GetArticles())
                {
                    <div class="post">
                        <a href="/Article/Details/@x.ArticleId" target="_blank"><h2>@x.ArticleTitle</h2></a>
                        <p class="text-secondary">Posted by @x.UserFullName on @x.CreatedAt.ToString("dd-MM-yyyy")</p>
                    </div>
                    <hr class="my-4" />
                }
            }
        </div>
    </div>
</div>