@{
    ViewData["Title"] = "Create new article";
}

<h1>
    @ViewData["Title"]
</h1>
<hr />

<form class="col-md-9" method="post" onsubmit="fn()" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title" class="form-label">Article Title</label>
        <input id="title" class="form-control" name="ArticleTitle" type="text"/>
    </div>

    <div class="form-group">
        <label for="ArticleThumbnail" class="form-label">Article Thumbnail</label>
        <input id="ArticleThumbnail" class="form-control" name="ArticleThumbnail" type="file"/>
    </div>

    <div class="form-group">
        <label for="Description" class="form-label">Article Description</label>
        <input id="Description" class="form-control" name="ArticleDescription" type="text" />
    </div>
@* 
    <div class="form-group">
        <label for="Category" class="form-label">Category</label>

        <select id="Category" class="form-select" name="CategoryId" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div> *@
        
    <div class="form-group">
        <label for="content" class="form-label">Article Content</label>
        <div id="toolbar-container">
            <span class="ql-formats">
                <select class="ql-size"></select>
            </span>
            <span class="ql-formats">
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
                <button class="ql-strike"></button>
            </span>
            <span class="ql-formats">
                <select class="ql-color"></select>
                <select class="ql-background"></select>
            </span>
            <span class="ql-formats">
                <button class="ql-script" value="sub"></button>
                <button class="ql-script" value="super"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-header" value="1"></button>
                <button class="ql-header" value="2"></button>
                <button class="ql-blockquote"></button>
                <button class="ql-code-block"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-list" value="ordered"></button>
                <button class="ql-list" value="bullet"></button>
                <button class="ql-indent" value="-1"></button>
                <button class="ql-indent" value="+1"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-direction" value="rtl"></button>
                <select class="ql-align"></select>
            </span>
            <span class="ql-formats">
                <button class="ql-link"></button>
                <button class="ql-image"></button>
                <button class="ql-video"></button>
                <button class="ql-formula"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-clean"></button>
            </span>
        </div>
        <input type="hidden" id="jdr" name="ArticleContent" />
        <div id="editor"></div>
    </div>
    <br />
    <button id="btn" class="btn btn-primary mt-2" type="submit">Submit</button>
</form>

<script>
    const quill = new Quill('#editor', {
        modules: {
            syntax: true,
            toolbar: '#toolbar-container',
        },
        placeholder: 'Compose an epic...',
        theme: 'snow',
    });

    function fn() { 
        document.getElementById('jdr').value = quill.root.innerHTML;
    }
</script>