@using GraduationProjectBMS.Models;
@model List<Article>
@{
    ViewData["Title"] = "index page";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<br />
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Created AT</th>
            <th>Edit | Details | Delete</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var x in Model)
            {
                <tr class="Search">
                    <td>@x.ArticleId</td>
                    <td>@x.ArticleTitle</td>
                    <td>@x.CreatedAt</td>
                    <td>
                        <a href="/Article/Edit/@x.ArticleId/" class="btn btn-dark">Edit</a>
                        <a href="/Article/Details/@x.ArticleId/" class="btn btn-warning">Details</a>
                        <a href="/Article/Delete/@x.ArticleId/" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>